<div class="calculadora">
  
      <h1>Calculadora para una tienda</h1>
      <label for="calculo">Ingresar un numero: </label>
      <input type="text" id="calculo" placeholder="Ingrese un numero" 
         onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" [(ngModel)]="valor"> <br><br>
      <label id="campo">-->{{cadena}}{{valor}}</label> <br><br>

      <button type="button" (click)="calcular('+'); valor=''"><h3>Sumar</h3></button> <br><br>

      <button type="button" id="igual" (click)="calcular('='); valor=''; cadena=''"><h3>=</h3></button> <br><br>

      <label for="resultado">Resultado: </label>
      <label id="resultado">{{total}}</label> <br><br>

</div>